<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.springboot_mybatis_healthcrud.mapper.CheckGroupMapper">
  <resultMap id="BaseResultMap" type="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="helpCode" jdbcType="VARCHAR" property="helpcode" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="attention" jdbcType="VARCHAR" property="attention" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, helpCode, sex, remark, attention
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_checkgroup
    where id = #{id,jdbcType=INTEGER}
  </select>

  <resultMap type="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup" id="baseResultMap">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="code" property="code"/>
    <result column="helpCode" property="helpcode"/>
    <result column="sex" property="sex"/>
    <result column="remark" property="remark"/>
    <result column="attention" property="attention"/>
  </resultMap>
  <resultMap id="findByIdResultMap" type="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup" extends="baseResultMap">
    <collection property="checkItems"
                ofType="com.softeem.springboot_mybatis_healthcrud.model.CheckItem"
                javaType="ArrayList"
                select="com.softeem.springboot_mybatis_healthcrud.mapper.CheckItemMapper.findCheckItemById"
                column="id"
                fetchType="eager"></collection>
  </resultMap>

  <select id="findCheckGroupById" resultMap="findByIdResultMap">
    select cg.*
    from t_checkgroup cg ,t_setmeal_checkgroup sc
    where cg.id = sc.checkgroup_id
      and sc.setmeal_id = #{id}
  </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_checkgroup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup">
    insert into t_checkgroup (id, code, name, 
      helpCode, sex, remark, 
      attention)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{helpcode,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{attention,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup">
    insert into t_checkgroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="helpcode != null">
        helpCode,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="attention != null">
        attention,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="helpcode != null">
        #{helpcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attention != null">
        #{attention,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup">
    update t_checkgroup
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="helpcode != null">
        helpCode = #{helpcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attention != null">
        attention = #{attention,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup">
    update t_checkgroup
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      helpCode = #{helpcode,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      attention = #{attention,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>