<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.springboot_mybatis_healthcrud.mapper.SetmealCheckGroupMapper">
  <resultMap id="BaseResultMap" type="com.softeem.springboot_mybatis_healthcrud.model.SetmealCheckGroupKey">
    <id column="setmeal_id" jdbcType="INTEGER" property="setmealId" />
    <id column="checkgroup_id" jdbcType="INTEGER" property="checkgroupId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.softeem.springboot_mybatis_healthcrud.model.SetmealCheckGroupKey">
    delete from t_setmeal_checkgroup
    where setmeal_id = #{setmealId,jdbcType=INTEGER}
      and checkgroup_id = #{checkgroupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.softeem.springboot_mybatis_healthcrud.model.SetmealCheckGroupKey">
    insert into t_setmeal_checkgroup (setmeal_id, checkgroup_id)
    values (#{setmealId,jdbcType=INTEGER}, #{checkgroupId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.softeem.springboot_mybatis_healthcrud.model.SetmealCheckGroupKey">
    insert into t_setmeal_checkgroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="setmealId != null">
        setmeal_id,
      </if>
      <if test="checkgroupId != null">
        checkgroup_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="setmealId != null">
        #{setmealId,jdbcType=INTEGER},
      </if>
      <if test="checkgroupId != null">
        #{checkgroupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


</mapper>