<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.springboot_mybatis_healthcrud.mapper.SetmealMapper">
  <resultMap id="BaseResultMap" type="com.softeem.springboot_mybatis_healthcrud.model.Setmeal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="helpCode" jdbcType="VARCHAR" property="helpcode" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="attention" jdbcType="VARCHAR" property="attention" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, helpCode, sex, age, price, remark, attention, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_setmeal
    where id = #{id,jdbcType=INTEGER}
  </select>

  <resultMap type="com.softeem.springboot_mybatis_healthcrud.model.Setmeal" id="baseResultMap">
    <id column="id" property="id"/>
  </resultMap>
  <resultMap id="findByIdResultMap" type="com.softeem.springboot_mybatis_healthcrud.model.Setmeal" extends="baseResultMap">
    <collection property="checkGroups"
                ofType="com.softeem.springboot_mybatis_healthcrud.model.CheckGroup"
                javaType="ArrayList"
                select="com.softeem.springboot_mybatis_healthcrud.mapper.CheckGroupMapper.findCheckGroupById"
                column="id"
                fetchType="eager"></collection>
  </resultMap>
  <select id="findSetmealById" resultMap="findByIdResultMap">
    select * from t_setmeal where id = #{id}
  </select>

  <select id="findAll" resultType="com.softeem.springboot_mybatis_healthcrud.model.Setmeal">
    select * from t_setmeal
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_setmeal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.softeem.springboot_mybatis_healthcrud.model.Setmeal">
    insert into t_setmeal (id, name, code, 
      helpCode, sex, age, price, 
      remark, attention, img
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{helpcode,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{age,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{remark,jdbcType=VARCHAR}, #{attention,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.softeem.springboot_mybatis_healthcrud.model.Setmeal">
    insert into t_setmeal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="helpcode != null">
        helpCode,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="attention != null">
        attention,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="helpcode != null">
        #{helpcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attention != null">
        #{attention,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.softeem.springboot_mybatis_healthcrud.model.Setmeal">
    update t_setmeal
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="helpcode != null">
        helpCode = #{helpcode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attention != null">
        attention = #{attention,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.softeem.springboot_mybatis_healthcrud.model.Setmeal">
    update t_setmeal
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      helpCode = #{helpcode,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      age = #{age,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      remark = #{remark,jdbcType=VARCHAR},
      attention = #{attention,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>